/* @settings

name: 📦 Ning 
id: ning-editor
settings:
    -   id: colorscheme-setting
        title: Color Scheme
        type: heading
        level: 2
        collapsed: true
    -   id: ning-theme-light
        title: Light Theme
        description: 选择你喜欢的亮色主题
        type: class-select
        allowEmpty: false
        default: theme-love-light
        options:
        -
            label: Love
            value: theme-love-light
        -
            label: Primary
            value: theme-primary-light
        -
            label: Flexoki
            value: theme-flexoki-light
        -
            label: Rosé Pine
            value: theme-rosepine-light
        -
            label: Anthropic
            value: theme-anthropic-light
    -   id: ning-theme-dark
        title: Dark Theme
        description: 选择你喜欢的暗色主题
        type: class-select
        allowEmpty: false
        default: theme-gruvbox-dark
        options:
        -
            label: Love
            value: theme-love-dark
        -
            label: Gruvbox
            value: theme-gruvbox-dark
        -
            label: Solarized Osaka
            value: theme-solarized-dark
        -
            label: Flexoki
            value: theme-flexoki-dark
        -
            label: Rosé Pine
            value: theme-rosepine-dark
        -
            label: Night Owl
            value: theme-nightowl-dark
        -
            label: Kanso
            value: theme-kanso-dark
        -
            label: Awesome
            value: theme-awesome-dark
        -
            label: Catppuccin Mocha
            value: theme-catppuccin-mocha
        -
            label: Catppuccin Macchiato
            value: theme-catppuccin-macchiato
    -
        id: settings-rain-icon
        type: class-toggle
        default: true
        title: 启用彩色
        description: 启用彩色图标与Tab背景


    -   id: workspace-setting
        title: Workspace
        type: heading
        level: 2
        collapsed: true
	-
		id: layout-style
		title: Layout style
		type: class-select
		allowEmpty: false
		default: layout-cupertino
		options:
			-
				label: Minimal
				value: layout-minimal
			-
				label: Cards
				value: layout-cards
			-
				label: Border
				value: layout-border
			-
				label: Frame
				value: layout-frame
			-
				label: Cupertino
				value: layout-cupertino
            -
				label: Mono
				value: layout-mono

    -
        id: heading-options
        title: Heading
        type: heading
        level: 2
        collapsed: true
    -
        id: heading-style
        title: 标题级别
        type: class-select
        allowEmpty: false
        default: heading-indicator-auto
        options:
            -
                label: Disable
                value: heading-indicator-disable
            -
                label: Auto Hide
                value: heading-indicator-auto
            -
                label: Fixed
                value: heading-indicator-fixed

    -
        id: callout-options
        title: Callouts
        type: heading
        level: 2
        collapsed: true
    -
        id: callout-style
        title: Callout Style
        type: class-select
        allowEmpty: false
        default: callout-normal
        options:
            -
                label: Default
                value: callout-normal
            -
                label: Bordered
                value: callout-bordered
            -
                label: Card
                value: callout-floating 

    
    -
		id: file-explorer
		type: heading
		level: 2
		collapsed: true
		title: File Explorer
    -
        id: alt-folder-icons
        type: class-toggle
        title: 启用文件夹图标
        description: Use folders as collapse indicators instead of chevrons.
    -
        id: colorful-folders_text
        type: class-toggle
        title: 彩色文件夹文字颜色
        description: Adds colors to the name text of the folder. When hovered, folder background is colored.
    -
        id: colorful-folders_collapse-indicator
        type: class-toggle
        title: 文件夹折叠指示器启用彩色
        description: Adds color to the collapse indicators of the folders.
    -
        id: folders_background
        title: 彩色文件夹背景颜色
        type: class-select
        allowEmpty: false
        default: none
        options:
            -
                label: None
                value: none
            -
                label: Default
                value: colorful-folders_background
            -
                label: Subtle
                value: colorful-folders-subtle
            -
                label: Length
                value: colorful-folders-length
    -
        id: colorful-folders_indentation-guide
        type: class-toggle
        title: 文件夹缩进线启用颜色
        description: Colors folder's indentation guide based on parent folder's color.
    -
        id: colorful-folders_inherit-color
        type: class-toggle
        title: 上下级文件夹颜色继承
        description: The color cycles through up to 12 colors for both top level folders and subfolders by default. If you would like subfolders to be colored based on their top level folder colors, toggle this on.
    

*/
