@use "./border";
@use "./card";
@use "./frame";
@use "./layout-style";
@use "./cupertino";
@use "./minimal";
@use "./mono";
// @use "./sidedock";

body:not(.is-mobile) {
  --layout-radius: var(--radius-xl);
}

body {
  // --tab-outline-color: transparent;
  --divider-color: transparent;
  --prompt-border-color: transparent;
}

// body:not(.is-mobile)
//   .workspace-split.mod-left-split
//   .workspace-sidedock-vault-profile {
//   display: none;
// }

/* ============= 透明  ============== */

/* suggestion */
.suggestion-container,
// .popover,
// .menu,
.suggestion-container.mod-search-suggestion {
  background-color: var(--workspace-background-translucent);
  backdrop-filter: blur(3px) saturate(190%) contrast(50%) brightness(130%);
}

.suggestion-container.mod-search-suggestion .suggestion {
  background-color: transparent;
}

/* modal */
.modal {
  opacity: 0.9;
  border: 0px;
}

/* command palette */
// .prompt {
//   opacity: 0.9;
// }
