.theme-light {
  --lorenz-flow-opacity: 0.5;
}
.theme-dark {
  --lorenz-flow-opacity: 0.6;
}
body.layout-mono:not(.is-mobile) {
  --lorenz-flow-primary: rgb(var(--mono-rgb-0), var(--lorenz-flow-opacity));
  --lorenz-flow-secondary: rgb(var(--mono-rgb-0), var(--lorenz-flow-opacity));

  --file-header-background-focused: transparent;
  --file-header-background: transparent;
  --tab-container-background: transparent;
  --titlebar-background: transparent;
  --titlebar-background-focused: transparent;

  .workspace {
    padding: 4px;
    background-color: var(--lorenz-flow-secondary);
  }
  .workspace-split.mod-root .view-content {
    background-color: transparent;
  }
  .workspace-ribbon,
  .workspace-split {
    margin: 4px;
    height: unset;
    background-color: var(--lorenz-flow-secondary);
    border-radius: var(--layout-radius);
    border: 1px solid var(--background-modifier-border-hover);
    overflow: hidden;
  }
  .mod-root {
    overflow: hidden;
  }

  .workspace-ribbon.mod-left .sidebar-toggle-button {
    position: relative;
    display: flex;
    height: var(--header-height);
    padding: 8px;
    width: unset;
    align-items: center;
    justify-content: center;
  }

  &:not(.mod-macos):not(.tab-top-left-stacked).css-settings-manager
    .workspace-ribbon.workspace-ribbon.mod-left
    .sidebar-toggle-button {
    height: calc(var(--header-height) - 16px);
  }

  // macOs fix
  &.mod-macos .workspace-ribbon.mod-left {
    // --ribbon-width: 74px;
    padding-top: var(--header-height);
  }

  // Windows & Linux fix
  &:not(.mod-macos).is-frameless.is-hidden-frameless .titlebar {
    height: var(--header-height);
    top: 8px;
    right: 8px;

    .titlebar-button-container.mod-right {
      border-top-right-radius: var(--layout-radius);
      overflow: hidden;
    }
  }

  .mod-sidedock {
    .workspace-sidedock-vault-profile {
      background-color: var(--lorenz-flow-secondary);
    }
  }

  // Status bar
  & .status-bar {
    right: 8px;
    bottom: 8px;
  }

  // ----------------------------------------------------------------

  // Style Settings: Background contrast fix
  &.theme-light.contrast-light-vivid {
    .workspace-ribbon,
    .workspace-split {
      border-color: #424242;
    }
    .mod-root .workspace-tab-header-container::before {
      background-color: var(--lorenz-flow-secondary);
    }
  }

  // Style Settings: Status bar fix
  &.status-bar-full .workspace {
    padding-bottom: 0;

    .workspace-ribbon,
    .workspace-split {
      margin-bottom: 0;
    }
  }
}
