body.theme-awesome-dark {
  --rx-amber-01: #1f1300;
  --rx-amber-02: #271700;
  --rx-amber-03: #341c00;
  --rx-amber-04: #3f2200;
  --rx-amber-05: #4a2900;
  --rx-amber-06: #573300;
  --rx-amber-07: #693f05;
  --rx-amber-08: #824e00;
  --rx-amber-09: #ffb224;
  --rx-amber-10: #ffcb47;
  --rx-amber-11: #f1a10d;
  --rx-amber-12: #fef3dd;
  --rx-blue-01: #0f1720;
  --rx-blue-02: #0f1b2d;
  --rx-blue-03: #10243e;
  --rx-blue-04: #102a4c;
  --rx-blue-05: #0f3058;
  --rx-blue-06: #0d3868;
  --rx-blue-07: #0a4481;
  --rx-blue-08: #0954a5;
  --rx-blue-09: #0091ff;
  --rx-blue-10: #369eff;
  --rx-blue-11: #52a9ff;
  --rx-blue-12: #eaf6ff;
  --rx-bronze-01: #191514;
  --rx-bronze-02: #1f1917;
  --rx-bronze-03: #2a211f;
  --rx-bronze-04: #332824;
  --rx-bronze-05: #3b2e29;
  --rx-bronze-06: #453530;
  --rx-bronze-07: #57433c;
  --rx-bronze-08: #74594e;
  --rx-bronze-09: #a18072;
  --rx-bronze-10: #b08c7d;
  --rx-bronze-11: #cba393;
  --rx-bronze-12: #f9ede7;
  --rx-brown-01: #1a1513;
  --rx-brown-02: #221813;
  --rx-brown-03: #2e201a;
  --rx-brown-04: #36261e;
  --rx-brown-05: #3e2d22;
  --rx-brown-06: #493528;
  --rx-brown-07: #5c4332;
  --rx-brown-08: #775940;
  --rx-brown-09: #ad7f58;
  --rx-brown-10: #bd8b60;
  --rx-brown-11: #dba16e;
  --rx-brown-12: #faf0e5;
  --rx-crimson-01: #1d1418;
  --rx-crimson-02: #27141c;
  --rx-crimson-03: #3c1827;
  --rx-crimson-04: #481a2d;
  --rx-crimson-05: #541b33;
  --rx-crimson-06: #641d3b;
  --rx-crimson-07: #801d45;
  --rx-crimson-08: #ae1955;
  --rx-crimson-09: #e93d82;
  --rx-crimson-10: #f04f88;
  --rx-crimson-11: #f76190;
  --rx-crimson-12: #feecf4;
  --rx-cyan-01: #07191d;
  --rx-cyan-02: #061e24;
  --rx-cyan-03: #072830;
  --rx-cyan-04: #07303b;
  --rx-cyan-05: #073844;
  --rx-cyan-06: #064150;
  --rx-cyan-07: #045063;
  --rx-cyan-08: #00647d;
  --rx-cyan-09: #05a2c2;
  --rx-cyan-10: #00b1cc;
  --rx-cyan-11: #00c2d7;
  --rx-cyan-12: #e1f8fa;
  --rx-gold-01: #171613;
  --rx-gold-02: #1c1a15;
  --rx-gold-03: #26231c;
  --rx-gold-04: #2e2a21;
  --rx-gold-05: #353026;
  --rx-gold-06: #3e382c;
  --rx-gold-07: #504737;
  --rx-gold-08: #6b5d48;
  --rx-gold-09: #978365;
  --rx-gold-10: #a59071;
  --rx-gold-11: #bfa888;
  --rx-gold-12: #f7f4e7;
  --rx-grass-01: #0d1912;
  --rx-grass-02: #0f1e13;
  --rx-grass-03: #132819;
  --rx-grass-04: #16301d;
  --rx-grass-05: #193921;
  --rx-grass-06: #1d4427;
  --rx-grass-07: #245530;
  --rx-grass-08: #2f6e3b;
  --rx-grass-09: #46a758;
  --rx-grass-10: #55b467;
  --rx-grass-11: #63c174;
  --rx-grass-12: #e5fbeb;
  --rx-gray-01: #161616;
  --rx-gray-02: #1c1c1c;
  --rx-gray-03: #232323;
  --rx-gray-04: #282828;
  --rx-gray-05: #2e2e2e;
  --rx-gray-06: #343434;
  --rx-gray-07: #3e3e3e;
  --rx-gray-08: #505050;
  --rx-gray-09: #707070;
  --rx-gray-10: #7e7e7e;
  --rx-gray-11: #a0a0a0;
  --rx-gray-12: #ededed;
  --rx-green-01: #0d1912;
  --rx-green-02: #0c1f17;
  --rx-green-03: #0f291e;
  --rx-green-04: #113123;
  --rx-green-05: #133929;
  --rx-green-06: #164430;
  --rx-green-07: #1b543a;
  --rx-green-08: #236e4a;
  --rx-green-09: #30a46c;
  --rx-green-10: #3cb179;
  --rx-green-11: #4cc38a;
  --rx-green-12: #e5fbeb;
  --rx-indigo-01: #131620;
  --rx-indigo-02: #15192d;
  --rx-indigo-03: #192140;
  --rx-indigo-04: #1c274f;
  --rx-indigo-05: #1f2c5c;
  --rx-indigo-06: #22346e;
  --rx-indigo-07: #273e89;
  --rx-indigo-08: #2f4eb2;
  --rx-indigo-09: #3e63dd;
  --rx-indigo-10: #5373e7;
  --rx-indigo-11: #849dff;
  --rx-indigo-12: #eef1fd;
  --rx-lime-01: #141807;
  --rx-lime-02: #181d08;
  --rx-lime-03: #1e260d;
  --rx-lime-04: #252e0f;
  --rx-lime-05: #2b3711;
  --rx-lime-06: #344213;
  --rx-lime-07: #415215;
  --rx-lime-08: #536716;
  --rx-lime-09: #99d52a;
  --rx-lime-10: #c4f042;
  --rx-lime-11: #87be22;
  --rx-lime-12: #effbdd;
  --rx-mauve-01: #161618;
  --rx-mauve-02: #1c1c1f;
  --rx-mauve-03: #232326;
  --rx-mauve-04: #28282c;
  --rx-mauve-05: #2e2e32;
  --rx-mauve-06: #34343a;
  --rx-mauve-07: #3e3e44;
  --rx-mauve-08: #504f57;
  --rx-mauve-09: #706f78;
  --rx-mauve-10: #7e7d86;
  --rx-mauve-11: #a09fa6;
  --rx-mauve-12: #ededef;
  --rx-mint-01: #081917;
  --rx-mint-02: #05201e;
  --rx-mint-03: #052926;
  --rx-mint-04: #04312c;
  --rx-mint-05: #033a34;
  --rx-mint-06: #01453d;
  --rx-mint-07: #00564a;
  --rx-mint-08: #006d5b;
  --rx-mint-09: #70e1c8;
  --rx-mint-10: #95f3d9;
  --rx-mint-11: #25d0ab;
  --rx-mint-12: #e7fcf7;
  --rx-olive-01: #151715;
  --rx-olive-02: #1a1d19;
  --rx-olive-03: #20241f;
  --rx-olive-04: #262925;
  --rx-olive-05: #2b2f2a;
  --rx-olive-06: #313530;
  --rx-olive-07: #3b3f3a;
  --rx-olive-08: #4c514b;
  --rx-olive-09: #687366;
  --rx-olive-10: #778175;
  --rx-olive-11: #9aa299;
  --rx-olive-12: #eceeec;
  --rx-orange-01: #1f1206;
  --rx-orange-02: #2b1400;
  --rx-orange-03: #391a03;
  --rx-orange-04: #441f04;
  --rx-orange-05: #4f2305;
  --rx-orange-06: #5f2a06;
  --rx-orange-07: #763205;
  --rx-orange-08: #943e00;
  --rx-orange-09: #f76808;
  --rx-orange-10: #ff802b;
  --rx-orange-11: #ff8b3e;
  --rx-orange-12: #feeadd;
  --rx-pink-01: #1f121b;
  --rx-pink-02: #271421;
  --rx-pink-03: #3a182f;
  --rx-pink-04: #451a37;
  --rx-pink-05: #501b3f;
  --rx-pink-06: #601d48;
  --rx-pink-07: #7a1d5a;
  --rx-pink-08: #a71873;
  --rx-pink-09: #d6409f;
  --rx-pink-10: #e34ba9;
  --rx-pink-11: #f65cb6;
  --rx-pink-12: #feebf7;
  --rx-plum-01: #1d131d;
  --rx-plum-02: #251425;
  --rx-plum-03: #341a34;
  --rx-plum-04: #3e1d40;
  --rx-plum-05: #48214b;
  --rx-plum-06: #542658;
  --rx-plum-07: #692d6f;
  --rx-plum-08: #883894;
  --rx-plum-09: #ab4aba;
  --rx-plum-10: #bd54c6;
  --rx-plum-11: #d864d8;
  --rx-plum-12: #fbecfc;
  --rx-purple-01: #1b141d;
  --rx-purple-02: #221527;
  --rx-purple-03: #301a3a;
  --rx-purple-04: #3a1e48;
  --rx-purple-05: #432155;
  --rx-purple-06: #4e2667;
  --rx-purple-07: #5f2d84;
  --rx-purple-08: #7938b2;
  --rx-purple-09: #8e4ec6;
  --rx-purple-10: #9d5bd2;
  --rx-purple-11: #bf7af0;
  --rx-purple-12: #f7ecfc;
  --rx-red-01: #1f1315;
  --rx-red-02: #291415;
  --rx-red-03: #3c181a;
  --rx-red-04: #481a1d;
  --rx-red-05: #541b1f;
  --rx-red-06: #671e22;
  --rx-red-07: #822025;
  --rx-red-08: #aa2429;
  --rx-red-09: #e5484d;
  --rx-red-10: #f2555a;
  --rx-red-11: #ff6369;
  --rx-red-12: #feecee;
  --rx-sage-01: #141716;
  --rx-sage-02: #191d1b;
  --rx-sage-03: #1f2421;
  --rx-sage-04: #252a27;
  --rx-sage-05: #2a2f2c;
  --rx-sage-06: #303633;
  --rx-sage-07: #393f3c;
  --rx-sage-08: #4a524e;
  --rx-sage-09: #66736d;
  --rx-sage-10: #75817b;
  --rx-sage-11: #99a29e;
  --rx-sage-12: #eceeed;
  --rx-sand-01: #161615;
  --rx-sand-02: #1c1c1a;
  --rx-sand-03: #232320;
  --rx-sand-04: #282826;
  --rx-sand-05: #2e2e2b;
  --rx-sand-06: #353431;
  --rx-sand-07: #3e3e3a;
  --rx-sand-08: #51504b;
  --rx-sand-09: #717069;
  --rx-sand-10: #7f7e77;
  --rx-sand-11: #a1a09a;
  --rx-sand-12: #ededec;
  --rx-sky-01: #0c1820;
  --rx-sky-02: #071d2a;
  --rx-sky-03: #082636;
  --rx-sky-04: #082d41;
  --rx-sky-05: #08354c;
  --rx-sky-06: #083e59;
  --rx-sky-07: #064b6b;
  --rx-sky-08: #005d85;
  --rx-sky-09: #68ddfd;
  --rx-sky-10: #8ae8ff;
  --rx-sky-11: #2ec8ee;
  --rx-sky-12: #eaf8ff;
  --rx-slate-01: #151718;
  --rx-slate-02: #1a1d1e;
  --rx-slate-03: #202425;
  --rx-slate-04: #26292b;
  --rx-slate-05: #2b2f31;
  --rx-slate-06: #313538;
  --rx-slate-07: #3a3f42;
  --rx-slate-08: #4c5155;
  --rx-slate-09: #697177;
  --rx-slate-10: #787f85;
  --rx-slate-11: #9ba1a6;
  --rx-slate-12: #ecedee;
  --rx-teal-01: #091915;
  --rx-teal-02: #04201b;
  --rx-teal-03: #062923;
  --rx-teal-04: #07312b;
  --rx-teal-05: #083932;
  --rx-teal-06: #09443c;
  --rx-teal-07: #0b544a;
  --rx-teal-08: #0c6d62;
  --rx-teal-09: #12a594;
  --rx-teal-10: #10b3a3;
  --rx-teal-11: #0ac5b3;
  --rx-teal-12: #e1faf4;
  --rx-tomato-01: #1d1412;
  --rx-tomato-02: #2a1410;
  --rx-tomato-03: #3b1813;
  --rx-tomato-04: #481a14;
  --rx-tomato-05: #541c15;
  --rx-tomato-06: #652016;
  --rx-tomato-07: #7f2315;
  --rx-tomato-08: #a42a12;
  --rx-tomato-09: #e54d2e;
  --rx-tomato-10: #ec5e41;
  --rx-tomato-11: #f16a50;
  --rx-tomato-12: #feefec;
  --rx-violet-01: #17151f;
  --rx-violet-02: #1c172b;
  --rx-violet-03: #251e40;
  --rx-violet-04: #2c2250;
  --rx-violet-05: #32275f;
  --rx-violet-06: #392c72;
  --rx-violet-07: #443592;
  --rx-violet-08: #5842c3;
  --rx-violet-09: #6e56cf;
  --rx-violet-10: #7c66dc;
  --rx-violet-11: #9e8cfc;
  --rx-violet-12: #f1eefe;
  --rx-yellow-01: #1c1500;
  --rx-yellow-02: #221a00;
  --rx-yellow-03: #2c2100;
  --rx-yellow-04: #352800;
  --rx-yellow-05: #3e3000;
  --rx-yellow-06: #493c00;
  --rx-yellow-07: #594a05;
  --rx-yellow-08: #705e00;
  --rx-yellow-09: #f5d90a;
  --rx-yellow-10: #ffef5c;
  --rx-yellow-11: #f0c000;
  --rx-yellow-12: #fffad1;

  --color-gray-10: var(--lx-gray-10);
  --color-gray-11: var(--lx-gray-11);
  --color-gray-12: var(--lx-gray-12);
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
  --color-gray-01: var(--lx-gray-01);
  --color-gray-02: var(--lx-gray-02);
  --color-gray-03: var(--lx-gray-03);
  --color-gray-04: var(--lx-gray-04);
  --color-gray-05: var(--lx-gray-05);
  --color-gray-06: var(--lx-gray-06);
  --color-gray-07: var(--lx-gray-07);
  --color-gray-08: var(--lx-gray-08);
  --color-gray-09: var(--lx-gray-09);
}

.theme-dark.theme-awesome-dark {
  --accent-h: 203;
  --accent-s: 20%;
  --accent-l: 68%;

  --code-normal: #abb2bf;
  --code-comment: #5c6370;
  --code-function: #d19a66;
  --code-important: #d19a66;
  --code-keyword: #e16d76;
  --code-operator: #a9b7c6 --code-property: #62afef;
  --code-punctuation: #abb2bf;
  --code-string: #58b6c2;
  --code-tag: #e16d76;
  --code-value: #c678de;

  --h1-color: hsl(352, 56%, 62%);
  // --h2-color: #d08770;
  --h2-color: hsla(233, 45%, 69%, 1);
  --h3-color: hsl(27, 49%, 68%);
  --h4-color: #a3be8c;
  --h5-color: hsl(204, 24%, 64%);
  --h6-color: #b48ead;

  // --color-red: #d46876;
  // --color-green: #a3be8c;
  // --color-orange: #d08770;
  // --color-yellow: #d5a985;
  // --color-cyan: #8aacab;
  // --color-blue: #8da8b9;
  // --color-purple: #b48ead;
  // --color-pink: #d88288;

  // --color-red-rgb: 212, 104, 118;
  // --color-orange-rgb: 208, 135, 112;
  // --color-yellow-rgb: 213, 169, 133;
  // --color-green-rgb: 163, 190, 140;
  // --color-blue-rgb: 87, 161, 207;
  // --color-purple-rgb: 180, 142, 173;
  // --color-cyan-rgb: 129, 161, 193;

  --color-gray-rgb: 166, 150, 142;
  --color-gray: rgb(166, 150, 141);
  --color-red: #db8e88;
  --color-orange: #deaea0;
  --color-yellow: #e0bc7e;
  --color-green: #aebd9f;
  --color-cyan: #8daeb3;
  --color-blue: #9bb0bd;
  --color-purple: #c9b1b9;
  --color-pink: #c9b1b9;
  --color-red-rgb: 219, 142, 136;
  --color-orange-rgb: 222, 174, 160;
  --color-yellow-rgb: 224, 188, 126;
  --color-green-rgb: 174, 189, 159;
  --color-cyan-rgb: 141, 174, 179;
  --color-blue-rgb: 155, 176, 189;
  --color-purple-rgb: 201, 177, 185;
  --color-pink-rgb: 201, 177, 185;

  --color-d-gray-10: hsla(0, 0%, 90%, 1);
  --color-d-gray-20: hsla(0, 0%, 80%, 1);
  --color-d-gray-30: hsla(0, 0%, 68%, 1);
  --color-d-gray-40: hsla(0, 0%, 55%, 1);
  --color-d-gray-50: hsla(0, 0%, 45%, 1);
  --color-d-gray-60: hsla(0, 0%, 35%, 1);
  --color-d-gray-70: hsla(0, 0%, 26%, 1);
  --color-d-gray-80: hsla(0, 0%, 20%, 1);
  --color-d-gray-90: hsla(0, 0%, 16%, 1);
  --color-d-gray-100: hsla(0, 0%, 13%, 1);
  --color-d-gray-110: hsla(0, 0%, 11%, 1);
  --color-d-gray-120: hsla(0, 0%, 9%, 1);
  --color-d-gray-130: hsla(0, 0%, 7%, 1);
  --color-d-gray-140: hsla(0, 0%, 5%, 1);
  --color-d-alpha-gray: hsla(0, 0%, 40%, 0.2);

  --color-base-00: #151718;
  --color-base-05: #1a1d1e;
  --color-base-10: #202425;
  --color-base-20: #26292b;
  --color-base-25: #2b2f31;
  --color-base-30: #313538;
  --color-base-35: #3a3f42;
  --color-base-40: #4c5155;
  --color-base-50: #697177;
  --color-base-60: #787f85;
  --color-base-70: #9ba1a6;
  --color-base-100: #ecedee;

  --background-primary: #1a1d1e;
  --background-secondary: #151718;
  --background-modifier-border: #3a3f42;
  // --background-modifier-border: var(--rx-slate-05);

  // --text-normal: #ecedee;
  --text-normal: hsla(0, 0%, 80%, 1);
  --text-muted: #9ba1a6;
  --text-faint: var(--color-d-gray-50);

  // --text-normal: var(--rx-slate-11);
  // --text-muted: var(--rx-slate-10);
  // --text-faint: var(--rx-slate-09);

  --link-color: hsl(183, 29%, 62%);
  --link-color-hover: hsl(188, 36%, 72%);
  --link-external-color: hsl(201.18, 16.67%, 64%);
  --link-external-color-hover: hsl(208, 63%, 75%);
}
