.theme-dark.theme-catppuccinblack-dark {
  /* Accent colors */
  --accent-h: 208;
  --accent-s: 64%;
  --accent-l: 49%;

  /* Palette 主色 */
  --color-red: #f38ba8;
  --color-red-rgb: 243, 139, 168;
  --color-orange: #fab387;
  --color-orange-rgb: 250, 179, 135;
  --color-yellow: #f9e2af;
  --color-yellow-rgb: 249, 226, 175;
  --color-green: #a6e3a1;
  --color-green-rgb: 166, 227, 161;
  --color-cyan: #89dceb;
  --color-cyan-rgb: 137, 220, 235;
  --color-blue: #89b4fa;
  --color-blue-rgb: 137, 180, 250;
  --color-purple: #b4befe;
  --color-purple-rgb: 180, 190, 254;
  --color-pink: #f5c2e7;
  --color-pink-rgb: 245, 194, 231;

  /* Base background colors */
  --color-base-00: #090b10;
  --color-base-05: #11111b;
  --color-base-10: #181825;
  --color-base-20: #1e1e2e;
  --color-base-25: #313244;
  --color-base-30: #45475a;
  --color-base-35: #585b70;
  --color-base-40: #6c7086;
  --color-base-50: #9399b2;
  --color-base-60: #a6adc8;
  --color-base-70: #bac2de;
  --color-base-100: #cdd6f4;

  /* Text */
  --text-normal: #cdd6f4;
  --text-muted: #a6adc8;
  --text-faint: #9399b2;

  /* Background */
  --background-primary: #000000;
  --background-primary-alt: #181825;
  --background-secondary: #090b10;
  //   --background-secondary-alt: #090e13;
  //   --background-modifier-border: #2a2c35;
  //   --background-modifier-border-hover: #393b44;
}
