.theme-dark.theme-kanso-dark {
  /* Accent colors */
  --accent-h: 208;
  --accent-s: 64%;
  --accent-l: 49%;

  /* Palette 主色 */
  --color-red: #e46876;
  --color-red-rgb: 228, 104, 118;
  --color-orange: #b98d7b;
  --color-orange-rgb: 185, 141, 123;
  --color-yellow: #dca561;
  --color-yellow-rgb: 220, 165, 97;
  --color-green: #98bb6c;
  --color-green-rgb: 152, 187, 108;
  --color-cyan: #8ea4a2;
  --color-cyan-rgb: 142, 164, 162;
  --color-blue: #7fb4ca;
  --color-blue-rgb: 127, 180, 202;
  --color-purple: #938aa9;
  --color-purple-rgb: 147, 138, 169;
  --color-pink: #a292a3;
  --color-pink-rgb: 162, 146, 163;

  /* Base background colors */
  --color-base-00: #090e13;
  --color-base-05: #14171d;
  --color-base-10: #1c1e25;
  --color-base-20: #22262d;
  --color-base-25: #2a2c35;
  --color-base-30: #393b44;
  --color-base-35: #4b4e57;
  --color-base-40: #5c6066;
  --color-base-50: #909398;
  --color-base-60: #a4a7a4;
  --color-base-70: #c5c9c7;
  --color-base-100: #f2f1ef;

  /* Text */
  --text-normal: #c5c9c7;
  --text-muted: #a4a7a4;
  --text-faint: #75797f;

  /* Background */
  --background-primary: #14171d;
  --background-primary-alt: #22262d;
  --background-secondary: #1c1e25;
  --background-secondary-alt: #090e13;
  --background-modifier-border: #2a2c35;
  --background-modifier-border-hover: #393b44;

  --h1-color: hsl(352, 56%, 62%);
  // --h2-color: #d08770;
  --h2-color: hsla(233, 45%, 69%, 1);
  --h3-color: hsl(27, 49%, 68%);
  --h4-color: hsl(204, 24%, 64%);
  --h5-color: #b48ead;
  --h6-color: #a3be8c;
}
