/* callout autohide  
from https://github.com/Scaryharry4*/

.callout:not(.is-collapsible) {
  display: flex;
  flex-direction: column;
  transition: 500ms;
  opacity: 1;
  flex-grow: 1;
}

.callout:not(.is-collapsible):hover {
  opacity: 1;
}

.callout:not(.is-collapsible) .callout-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease;
  flex-grow: 0;
}
.callout:not(.is-collapsible):hover .callout-content {
  max-height: 1000px;
  flex-grow: 1;
}

.callout-content .callout {
  opacity: 1;
}

/* ======================= */

.callout {
  --callout-bug: var(--color-red-rgb);
  --callout-default: var(--color-blue-rgb);
  --callout-error: var(--color-red-rgb);
  --callout-example: var(--color-purple-rgb);
  --callout-fail: var(--color-red-rgb);
  --callout-important: var(--color-cyan-rgb);
  --callout-info: var(--color-blue-rgb);
  --callout-question: var(--color-orange-rgb);
  --callout-success: var(--color-green-rgb);
  --callout-summary: var(--color-cyan-rgb);
  --callout-tip: var(--color-cyan-rgb);
  --callout-todo: var(--color-blue-rgb);
  --callout-warning: var(--color-orange-rgb);
  --callout-quote: 158, 158, 158;
  border: 1.5px solid rgba(var(--callout-color), 0.2);
}

.callout-bordered .callout {
  // --callout-radius: 4px !important;
  --callout-border-width: 0 0 0 4px;
  --callout-border-opacity: 1;
  --callout-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3)
    var(--size-4-6);
  --callout-radius: var(--radius-s);
  --callout-blend-mode: var(--highlight-mix-blend-mode);
  --callout-title-color: inherit;
  --callout-title-padding: 0;
  --callout-title-size: inherit;
  --callout-content-padding: 0;
  --callout-content-background: transparent;

  // box-shadow: 0 1px 3px hsla(207, 10%, 10%, 0.1);

  > .callout-title {
    align-items: center;

    > .callout-icon {
      align-items: center;
    }

    > .callout-title-inner {
      text-transform: uppercase;
      font-weight: normal;
    }
  }
}

.callout-floating .callout,
.callout-floating .markdown-source-view.mod-cm6 .callout {
  margin: 13px 0px;
  border-radius: var(--radius-m);
  border: 1.2px solid rgba(var(--callout-color), 0.4);
  box-shadow: var(--shadow-s);
  background-color: transparent;
  padding: 0px;

  > .callout-title,
  > .markdown-source-view.mod-cm6 .callout-title {
    background-color: rgba(var(--callout-color), 0.2);
    padding: 10px;
    min-width: 100%;
  }

  > .callout-content,
  > .markdown-source-view.mod-cm6 .callout-content {
    padding: 0px 10px;
  }
}
